html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

main {
  padding: 50px 10% 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #3D42D6;
}

h1 {
  font-size: 82px;
  line-height: 82px;
}

h2 {
  font-weight: 600;
  font-size: 56px;
  line-height: 76px;
}

h3 {
  font-size: 42px;
  line-height: 57px;
}

h4 {
  font-size: 34px;
  line-height: 46px;
}

h5 {
  font-size: 26px;
  line-height: 35px;
}

.large {
  font-size: 20px;
  font-weight: 400;
}

.normal {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.small {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

h1, h2 {
  letter-spacing: 0.01em;
  margin: 30px 0;
}

h3, h4, h5 {
  font-weight: normal;
}

h3, h4, h5 {
  margin: 20px 0;
}

p {
  font-size: 16px;
  line-height: 22px;
}

hr {
  background-color: #8991A3;
  height: 3px;
}


.pageContainer {
  display: flex;
}

.pageContainer div {
  margin: 20px;
}

.pageContainer h5 {
  margin: 7px;
}

.fixed {
  position: fixed;
}

.padForContent {
  padding-left: 200px;
}
